#loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333144;
}

#loader .icon {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    border-radius: 100%;
}

#loader .icon:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 15px solid transparent;
    border-top: 25px solid #fff;
    transform: rotate(45deg);
    top: 50px;
    left: -15px;
}

#loader .icon:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #412f44;
    box-shadow: 20px 0 #412f44, -20px 0 #412f44;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: rgba(255, 60, 0, 0.25);
        box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 #412f44;
    }
    50% {
        background-color: #412f44;
        box-shadow: 20px 0 rgba(255, 60, 0, 0.25),
            -20px 0 rgba(255, 60, 0, 0.25);
    }
    100% {
        background-color: rgba(255, 60, 0, 0.25);
        box-shadow: 20px 0 #412f44, -20px 0 rgba(255, 60, 0, 0.25);
    }
}
