.message {
    display: flex;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.message img {
    border-radius: 50%;
    width: 5rem;
}

.message .identification {
    display: flex;
    gap: 0.75rem;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.message .name {
    display: inline-block;
    font-size: 1.25rem;
    color: #333144;
    font-weight: 500;
}

.message img .date {
    display: inline-block;
}
